%aside.card.sticky-top#protocolFilters
  %h4.card-header.bg-white.text-center
    = 'Filter Protocols'
  .card-body.pb-0
    %form.form#filterForm
      .form-group
        = text_field_tag :search, '', class: 'form-control', placeholder: 'Search for a protocol...'
      .form-group
        = select_tag :status, options_for_select(['Draft', 'Complete', 'Submitted']), title: 'Status', class: 'selectpicker', multiple: true
      .form-group
        = select_tag :status, options_for_select(['Org1', 'Org2', 'Org3']), title: 'Organization', class: 'selectpicker', multiple: true
      .form-group
        = select_tag :status, options_for_select(['Andrew Cates', 'Leila Forney', 'Wenjun He']), title: 'Owner', class: 'selectpicker', multiple: true
      .form-row
        .form-group.col-6
          = check_box_tag :archived, true, false, data: { toggle: 'toggle', on: 'Archived', off: 'Unarchived' }
        .form-group.col-6
          = check_box_tag :admin_protocols, true, false, data: { toggle: 'toggle', on: 'My Protocols', off: 'Admin Protocols' }
      .form-group
        = link_to 'Filter', 'javascript:void(0)', class: 'btn btn-block btn-primary'
      .form-row
        .form-group.col-6
          = link_to 'javascript:void(0)', class: 'btn btn-block btn-link' do
            = icon('far', 'save fa-lg mr-1')
            = 'Save'
        .form-group.col-6
          = link_to 'javascript:void(0)', class: 'btn btn-block btn-link' do
            = icon('fas', 'redo mr-1')
            = 'Reset'
  %h4.card-header.card-footer.bg-white.text-center
    = 'Saved Filters'
  .card-body
    .list-group.list-group-flush#recentFilters
      .list-group-item
        = link_to 'Test Filter', 'javascript:void(0)', title: 'Apply Filter'
        = link_to 'javascript:void(0)', class: 'text-danger float-right' do
          = icon('fas', 'trash')
      .list-group-item
        = link_to 'Filterrific', 'javascript:void(0)', title: 'Apply Filter'
        = link_to 'javascript:void(0)', class: 'text-danger float-right' do
          = icon('fas', 'trash')
      .list-group-item
        = link_to 'Unfiltered', 'javascript:void(0)', title: 'Apply Filter'
        = link_to 'javascript:void(0)', class: 'text-danger float-right' do
          = icon('fas', 'trash')
