%section.events-section
  .container
    .events.col-6.px-0
      = link_to 'javascript:void(0)', class: 'event pr-4', title: 'Learn More' do
        .col-9.pl-0
          %h4.event-title
            = 'SPARC OS Governance: Operations and Logistics Call'
          %p.event-time
            = '11:00 AM - 12:00 PM'
        %span.card.event-date
          = 'Jan'
          %br
          = '18'
      = link_to 'javascript:void(0)', class: 'event pr-4', title: 'Learn More' do
        .col-9.pl-0
          %h4.event-title
            = 'SPARC Ontology Subcommittee'
          %p.event-time
            = '2:00 PM - 3:00 PM'
        %span.card.event-date
          = 'Jan'
          %br
          = '18'
      = link_to 'javascript:void(0)', class: 'event pr-4', title: 'Learn More' do
        .col-9.pl-0
          %h4.event-title
            = 'SPARC OS Developer Status Call'
          %p.event-time
            = '3:00 PM - 3:30 PM - Online'
        %span.card.event-date
          = 'Jan'
          %br
          = '23'
    .events-header.col-6.d-flex.align-items-center.mb-0.pl-4.pr-0
      %h1.text-warning.font-weight-light
        = "Upcoming Events"
