%section
  .banner-container
    = image_tag 'PAMR banner.jpg', class: 'banner home-banner'
    .banner-overlay
    .container.align-items-center
      .col-10.offset-1.text-center
        %p.banner-caption
          %strong.text-lg
            = "SPARC (Services, Pricing, and Applications for Research Center) "
          = "is a web-based research management system that integrates research and clinical care workflows with a focus on service request catalog, billing compliance, proposal and budget development, work fulfillment data collection, invoicing and billing, and impact data through grants and publication associations."
        - if current_user
          = link_to 'Go to your Dashboard', dashboard_path, class: 'btn btn-lg btn-primary'
        - else
          = link_to 'Get Started', new_user_session_path, class: 'btn btn-lg btn-primary'
