%section
  .banner-container
    = image_tag 'PAMR banner.jpg', class: 'banner home-banner'
    .banner-overlay
    .container
      %p.banner-caption.col-10.offset-1.text-center.align-self-center
        %strong.text-lg
          = "SPARC (Services, Pricing, and Applications for Research Center) "
        = "is a web-based research management system that integrates research and clinical care workflows with a focus on service request catalog, billing compliance, proposal and budget development, work fulfillment data collection, invoicing and billing, and impact data through grants and publication associations."
      .col-10.offset-1.text-center
        = link_to 'Get Started', 'javascript:void(0)', class: 'btn btn-lg btn-primary'
%section
  .container
    %h1.text-warning.text-center.col-12.mb-5.font-weight-light
      = 'The SPARCRequest Process'
    .col-6.pl-0
      %h3.text-center.font-weight-light
        = 'High Level Overview'
      %iframe{ width: 540, height: 303, src: 'https://www.youtube.com/embed/MQKwcozR69U', frameborder: '0', allow: 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen: true}
    .col-6.pr-0
      %h3.text-center.font-weight-light
        = 'In-depth Overview'
      %iframe{ width: 540, height: 303, src: 'https://www.youtube.com/embed/gb1_vm7M7nI', frameborder: '0', allow: 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen: true}
    .col-12.d-flex.justify-content-center.mt-5
      = link_to 'Learn More', 'javascript:void(0)', class: 'btn btn-lg btn-primary'
%section.news-section.bg-light
  .container
    .news-header.col-6.d-flex.align-items-center.justify-content-end.mb-0.pl-0.pr-4
      %h1.text-warning.font-weight-light
        = "Recent News"
    .news.col-6.pl-4.pr-0
      .post
        = link_to 'javascript:void(0)', target: :blank do
          %h4.font-weight-light
            = '2019 SCTR KL2 Multidisciplinary Scholars Program Open to Application'
        %p.font-weight-light
          = 'Jan 08, 2019'
      .post
        = link_to 'javascript:void(0)', target: :blank do
          %h4.font-weight-light
            = 'New Release: SPARCRequest Version 3.4.0 & SPARCFulfillment Version 2.8.5'
        %p.font-weight-light
          = 'Jan 07, 2019'
      .post
        = link_to 'javascript:void(0)', target: :blank do
          %h4.font-weight-light
            = '2018 College of Medicine K12 Program Grant Open to Application'
        %p.font-weight-light
          = 'Dec 21, 2018'
      .post
        = link_to 'javascript:void(0)', target: :blank do
          %h4.font-weight-light
            = 'Scheduled SPARCRequest Maintenance'
        %p.font-weight-light
          = 'Dec 17, 2018'
      .post
        = link_to 'javascript:void(0)', target: :blank do
          %h4.font-weight-light
            = '2018 Technology Development Grant Open to Application'
        %p.font-weight-light
          = 'Oct 30, 2018'
%section.events-section
  .container
    .events.col-6.pl-0.pr-4
      .event
        .col-9.pl-0
          = link_to 'javascript:void(0)', target: :blank do
            %h4.font-weight-light
              = 'SPARC OS Governance: Operations and Logistics Call'
          %p.font-weight-light
            = '11:00 AM - 12:00 PM'
          = link_to 'Learn More', 'javascript:void(0)'
        %span.card.event-date
          = 'Jan 18'
      .event
        .col-9.pl-0
          = link_to 'javascript:void(0)', target: :blank do
            %h4.font-weight-light
              = 'SPARC Ontology Subcommittee'
          %p.font-weight-light
            = '2:00 PM - 3:00 PM'
          = link_to 'Learn More', 'javascript:void(0)'
        %span.card.event-date
          = 'Jan 18'
      .event
        .col-9.pl-0
          = link_to 'javascript:void(0)', target: :blank do
            %h4.font-weight-light
              = 'SPARC OS Developer Status Call'
          %p.font-weight-light
            = '3:00 PM - 3:30 PM - Online'
          = link_to 'Learn More', 'javascript:void(0)'
        %span.card.event-date
          = 'Jan 23'
    .events-header.col-6.d-flex.align-items-center.mb-0.pl-4.pr-0
      %h1.text-warning.font-weight-light
        = "Upcoming Events"
