%main.p-4.bg-light#protocols
  .card
    %h3.card-header.d-flex.align-items-center.justify-content-between.bg-primary.text-white
      = 'Protocols'
    .card-body.p-0
      %table.table.table-striped.table-hover.mb-0#protocolsTable
        %thead
          %tr
            %th
              = render 'shared/sorting'
              = 'ID'
            %th
              = render 'shared/sorting'
              = 'Short Title'
            %th
              = render 'shared/sorting'
              = 'PI(s)'
            %th.text-center
              = 'View Requests'
        %tbody
          %tr.protocol
            %td
              = link_to '11971', 'javascript:void(0)', class: 'btn btn-primary'
            %td
              = 'Alcohol Withdrawal Risk Identification'
            %td
              = icon('fas', 'user')
              %span
                = 'Kevin Mccarthy'
            %td.text-center
              = link_to 'Requests', 'javascript:void(0)', class: 'btn btn-secondary'
          %tr.protocol
            %td
              = link_to '11970', 'javascript:void(0)', class: 'btn btn-primary'
            %td
              = 'Dialysis centers outreach'
            %td
              = icon('fas', 'user')
              %span
                = 'Derek Dubay'
            %td.text-center
              = link_to 'Requests', 'javascript:void(0)', class: 'btn btn-secondary'
          %tr.protocol
            %td
              = link_to '11968', 'javascript:void(0)', class: 'btn btn-primary'
            %td
              = 'HOPE Kids 2'
            %td
              = icon('fas', 'user')
              %span
                = 'Julie Kanter'
            %td.text-center
              = link_to 'Requests', 'javascript:void(0)', class: 'btn btn-secondary'
          %tr.protocol
            %td
              = link_to '11967', 'javascript:void(0)', class: 'btn btn-primary'
            %td
              = 'ANCHOR registry'
            %td
              = icon('fas', 'user')
              %span
                = 'Ravikumar Veeraswamy'
            %td.text-center
              = link_to 'Requests', 'javascript:void(0)', class: 'btn btn-secondary'
          %tr.protocol
            %td
              = link_to '11966', 'javascript:void(0)', class: 'btn btn-primary'
            %td
              = 'SCORE submission'
            %td
              = icon('fas', 'user')
              %span
                = 'Aimee Mcrae-clark'
            %td.text-center
              = link_to 'Requests', 'javascript:void(0)', class: 'btn btn-secondary'
    .card-footer.bg-white
      = 'Displaying protocols 1-5 of 5 in total'
