%main.p-4.bg-light#protocols
  .card
    %h3.card-header.d-flex.align-items-center.justify-content-between.bg-white
      = 'Protocols'
    .card-body.p-0
      .list-group.list-group-flush.list-group-striped
        = link_to 'javascript:void(0)', class: 'list-group-item list-group-item-action protocol' do
          .protocol-details
            %span.badge.badge-primary.p-2.mr-3
              = '11971' 
            = 'Alcohol Withdrawal Risk Identification'
          .pi-details
            = icon('fas', 'user')
            %span
              = 'Kevin Mccarthy'
        = link_to 'javascript:void(0)', class: 'list-group-item list-group-item-action protocol' do
          .protocol-details
            %span.badge.badge-primary.p-2.mr-3
              = '11970' 
            = 'Dialysis centers outreach'
          .pi-details
            = icon('fas', 'user')
            %span
              = 'Derek Dubay'
        = link_to 'javascript:void(0)', class: 'list-group-item list-group-item-action protocol' do
          .protocol-details
            %span.badge.badge-primary.p-2.mr-3
              = '11968' 
            = 'HOPE Kids 2'
          .pi-details
            = icon('fas', 'user')
            %span
              = 'Julie Kanter'
        = link_to 'javascript:void(0)', class: 'list-group-item list-group-item-action protocol' do
          .protocol-details
            %span.badge.badge-primary.p-2.mr-3
              = '11967' 
            = 'ANCHOR registry'
          .pi-details
            = icon('fas', 'user')
            %span
              = 'Ravikumar Veeraswamy'
        = link_to 'javascript:void(0)', class: 'list-group-item list-group-item-action protocol' do
          .protocol-details
            %span.badge.badge-primary.p-2.mr-3
              = '11966' 
            = 'SCORE submission'
          .pi-details
            = icon('fas', 'user')
            %span
              = 'Aimee Mcrae-clark'
    .card-footer.bg-white
      = 'Displaying protocols 1-5 of 5 in total'
