.nav-item.dropdown.toggle-hover.news
  = link_to 'News', '#', class: 'nav-link dropdown-toggle', id: 'newsDropdown', role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' }
  .dropdown-menu.dropdown-menu-right{ aria: { labelledby: 'newsDropdown' } }
    = link_to 'https://sparcrequest.atlassian.net/wiki/spaces/MIB/blog/2019/01/08/231801058/2019+SCTR+KL2+Multidisciplinary+Scholars+Program+Open+to+Application', class: 'dropdown-item post text-primary', target: :blank do
      %h5.post-title.col-12.p-0
        = '2019 SCTR KL2 Multidisciplinary Scholars Program Open to Application'
      %p.post-date
        = 'Jan 08, 2019'
    .dropdown-divider
    = link_to 'https://sparcrequest.atlassian.net/wiki/spaces/MIB/blog/2019/01/07/231801035', class: 'dropdown-item post text-primary', target: :blank do
      %h5.post-title.col-12.p-0
        = 'New Release: SPARCRequest Version 3.4.0 & SPARCFulfillment Version 2.8.5'
      %p.post-date
        = 'Jan 07, 2019'
    .dropdown-divider
    = link_to 'https://sparcrequest.atlassian.net/wiki/spaces/MIB/blog/2018/12/21/231113236/2018+College+of+Medicine+K12+Program+Grant+Open+to+Application', class: 'dropdown-item post text-primary', target: :blank do
      %h5.post-title.col-12.p-0
        = '2018 College of Medicine K12 Program Grant Open to Application'
      %p.post-date
        = 'Dec 21, 2018'
    .dropdown-divider
    = link_to 'https://sparcrequest.atlassian.net/wiki/spaces/MIB/blog/2018/12/17/231112868/Scheduled+SPARCRequest+Maintenance', class: 'dropdown-item post text-primary', target: :blank do
      %h5.post-title.col-12.p-0
        = 'Scheduled SPARCRequest Maintenance'
      %p.post-date
        = 'Dec 17, 2018'
    .dropdown-divider
    = link_to 'https://sparcrequest.atlassian.net/wiki/spaces/MIB/blog/2018/10/30/213516292/2018+Technology+Development+Grant+Open+to+Application', class: 'dropdown-item post text-primary', target: :blank do
      %h5.post-title.col-12.p-0
        = '2018 Technology Development Grant Open to Application'
      %p.post-date
        = 'Oct 30, 2018'
