%nav.navbar.substeps-nav.navbar-expand-lg
  .container.justify-content-center
    .navbar-nav
      .nav-item
        = link_to "#{type} Information", '#studyInformation', class: 'nav-link substep-link', id: 'studyInformation'
      .nav-item
        = link_to "Financial Information", '#financialInformation', class: 'nav-link substep-link', id: 'financialInformation'
      .nav-item
        = link_to "Involvements", '#researchInvolving', class: 'nav-link substep-link', id: 'researchInvolving'
      .nav-item
        = link_to "Impact Areas", '#impactAreas', class: 'nav-link substep-link', id: 'impactAreas'
