.substep#protocolInformationSection
  .form-group.mb-4
    %h4.text-primary
      = "Start by filling out some basic information so that we can determine the appropriate pricing for your #{type}."
  .form-group.mb-4
    = render 'shared/required_fields_notice'
  - if type == 'Study'
    .form-row.mt-4.mb-5
      %h5.col-12
        = 'If your Study already has a Research Master ID, enter it here and we will fill in some information for you.'
      .form-group.col-6.mb-0
        = label_tag :rmid, 'Research Master ID'
        = text_field_tag :rmid, '', class: 'form-control'
  .form-row
    .form-group.col-6
      = label_tag :title, "#{type} Title", class: 'required'
      = text_field_tag :title, '', class: 'form-control'
    .form-group.col-6
      = label_tag :short_title, 'Short Title', class: 'required'
      = text_field_tag :short_title, '', class: 'form-control'
  - if type == 'Project'
    .form-group
      = label_tag :description
      = text_area_tag :description, '', class: 'form-control'
  .form-row
    .form-group.col-3
      = label_tag :funding_status, 'Funding Status', class: 'required'
      = select_tag :funding_status, options_for_select(['Funded', 'Pending Funding']), class: 'selectpicker', include_blank: true
    .form-group.col-3
      -# Needs logic for potential funding source
      = label_tag :funding_source, 'Funding Source', class: 'required'
      = select_tag :funding_source, options_for_select(['College Department', 'Federal', 'Foundation/Organization', 'Industry-Initiated/Sponsored', 'Internally Funded Pilot Project', 'Investigator-Initiated/Sponsored', 'Student Funded Research']), class: 'selectpicker', include_blank: true
    .form-group.col-3
      = label_tag :start_date, 'Estimated Start Date', class: 'required'
      .input-group
        = text_field_tag :start_date, '', class: 'form-control', placeholder: 'MM/DD/YYYY', data: { provide: 'datepicker' }
        .input-group-append
          = label_tag :start_date, class: 'input-group-text' do
            = icon('fas', 'calendar')
    .form-group.col-3
      = label_tag :end_date, 'Estimated End Date', class: 'required'
      .input-group
        = text_field_tag :end_date, '', class: 'form-control', placeholder: 'MM/DD/YYYY', data: { provide: 'datepicker' }
        .input-group-append
          = label_tag :end_date, class: 'input-group-text' do
            = icon('fas', 'calendar')
  .form-group
    = label_tag :sponsor_name, 'Sponsor Name', class: 'required'
    = text_field_tag :sponsor_name, '', class: 'form-control'
  .form-row.m-0
    .form-group.col-2
      = label_tag :selected_for_epic, 'Publish Study in Epic', class: 'required'
      = check_box_tag :selected_for_epic, true, false, data: { toggle: 'toggle', on: 'Yes', off: 'No', style: 'col-6' }
  .form-group.border-top.mt-4.mb-0.pt-4<>
    = link_to protocols_path, class: 'btn btn-lg btn-outline-primary' do
      = icon('fas', 'arrow-left mr-2')
      = 'Dashboard'
    %button.btn.btn-lg.btn-outline-primary.float-right.validate{ type: 'button', data: { group: 'protocolInformation', href: 'Study' ? '#financialInformation' : '#authorizedUsers'} }<
      = 'Continue'
      = icon('fas', 'arrow-right ml-2')
