%header
  %nav.navbar.header-nav.navbar-expand-lg.navbar-light
    .container-fluid.align-items-end.p-0
      = link_to root_path, class: 'navbar-brand brand col-3' do
        = image_tag 'sparc_request_header.png'
      = link_to root_path, class: 'navbar-brand brand-alt' do
        = image_tag 'logo.png'
      .nav-container.col-9.p-0
        = link_to 'https://research.musc.edu/resources/sctr', class: 'col-2 department-link', target: :blank do
          = image_tag 'sctr_header.png', class: 'department-logo'
        .collapse.navbar-collapse{ class: current_user ? 'justify-content-between' : 'justify-content-end' }
          - if current_user
            .navbar-nav
              .nav-item
                = link_to 'Catalog', 'javascript:void(0)', class: 'nav-link'
              .nav-item
                = link_to 'Reports', 'javascript:void(0)', class: 'nav-link'
              .nav-item
                = link_to 'Funding', 'javascript:void(0)', class: 'nav-link'
          .navbar-nav
            .nav-item
              = link_to 'Home', root_path, class: 'nav-link'
            .nav-item
              = link_to 'About', 'https://sparcrequest.atlassian.net/wiki/spaces/RD/overview', class: 'nav-link', target: :blank
            .nav-item
              = link_to 'Contact', 'https://sparcrequest.atlassian.net/wiki/spaces/RD/pages/31653983/Contact+Us', class: 'nav-link', target: :blank
            = render 'layouts/header/news_feed'
            = render 'layouts/header/google_calendar'
            = render 'layouts/header/user_profile'
